body {
    color: #424242;
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
}

a {
    color: #2196F3;
    text-decoration: none;
}

h1, h2, h3 {
    color: #212121;
    margin-top: 1em;
    margin-bottom: 1em;
}

input, textarea, label {
    display: block;
}

input, textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #616161;
    border-radius: 2px;
    margin-bottom: 1em;
    padding: 8px 12px;
}

input:focus {
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 12px;
}

tr:nth-of-type(odd) {
    background: #bdbdbd;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

button {
    background: white;
    font-size: 16px;
    border: 1px solid #616161;
    border-radius: 8px;
    padding: 8px;
    margin-left: 8px;
    float: right;
}

.nav {
    margin-top: 3em;
    list-style: none;
}

.nav li {
    display: inline;
    font-size: 22px;
}

.nav li:after {
    content: ",";
}

.nav li a {
    color: #90a4ae;
    text-decoration: none;
}

.nofloat {
    float: none;
}

.logout {
    position: fixed;
    top: 12px;
    right: 12px;
    color: white;
    background: #757575;
    font-size: 16px;
    border: 1px solid #616161;
    border-radius: 8px;
    padding: 8px;
    float: right;
}

.back {
    position: fixed;
    top: 12px;
    left: 12px;
    color: white;
    background: #757575;
    font-size: 16px;
    border: 1px solid #616161;
    border-radius: 8px;
    padding: 8px;
    float: right;
}

.instruction {
    color: #616161;
    font-style: italic;
}

.error {
    color: #f44336;
    font-style: italic;
}

.message {
    color: #4caf50;
    font-style: bold;
}

/* Responsive grid */
* {
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

/* For desktop: */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    [class*="col-"] {
        float: left;
        padding: 1em;
    }

    .nav {
        margin-top: 3em;
        list-style: none;
    }

    .nav li {
        display: block;
        font-size: 22px;
    }

    .nav li:before {
        content: "→";
        padding-right: 5px;
    }

    .nav li:after {
        content: "";
    }

    .nav li:hover {
        content: "➔";
        padding-left: 10px;
        color: #00acc1;
    }
}

.row::after {
    content: "";
    clear: both;
    display: block;
}
